.material uk-chips-input-container.material-input {
  display: block; }
  .material uk-chips-input-container.material-input.uk-input-focus .material-bar:before, .material uk-chips-input-container.material-input.uk-input-focus .material-bar:after {
    background: #30B131 !important;
    width: 50% !important; }
  .material uk-chips-input-container.material-input.uk-input-focus label, .material uk-chips-input-container.material-input.uk-input-focus .filled label, .material uk-chips-input-container.material-input.filled label {
    color: #d9d9d9 !important;
    font-size: 13px !important;
    top: 0 !important;
    line-height: 24px !important; }
  .material uk-chips-input-container.material-input > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    .material uk-chips-input-container.material-input > div > uk-input-autocomplete {
      display: block;
      width: 100%; }
      .material uk-chips-input-container.material-input > div > uk-input-autocomplete > input:focus {
        background: none;
        border-color: none; }
      .material uk-chips-input-container.material-input > div > uk-input-autocomplete > uk-dropdown {
        margin-top: 49px;
        width: 290px;
        border: 1px solid rgba(0, 0, 0, 0.08);
        border-radius: 4px; }
        .material uk-chips-input-container.material-input > div > uk-input-autocomplete > uk-dropdown li a {
          padding-left: 20px; }
    .material uk-chips-input-container.material-input > div uk-chips-wrap {
      border-bottom: 1px solid #d9d9d9;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      -webkit-align-items: flex-end;
      -moz-align-items: flex-end;
      align-items: flex-end; }
      .material uk-chips-input-container.material-input > div uk-chips-wrap uk-chips-selecteds {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex; }
        .material uk-chips-input-container.material-input > div uk-chips-wrap uk-chips-selecteds > uk-chip {
          border: 1px solid #dfdfdf;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          height: 32px;
          margin-bottom: 11px;
          background-color: #dfdfdf;
          padding: 2px 4px 3px 10px;
          border-radius: 3px;
          margin-right: 4px; }
          .material uk-chips-input-container.material-input > div uk-chips-wrap uk-chips-selecteds > uk-chip.for-delete {
            border: 1px solid #989898;
            background-color: #d2d2d2;
            color: #616161; }
          .material uk-chips-input-container.material-input > div uk-chips-wrap uk-chips-selecteds > uk-chip > uk-chip-content {
            padding-right: 6px;
            white-space: nowrap; }
          .material uk-chips-input-container.material-input > div uk-chips-wrap uk-chips-selecteds > uk-chip > uk-chip-remove {
            cursor: pointer;
            padding-top: 1px;
            padding-left: 3px;
            font-size: 1.2em;
            border-left: 1px solid #d6d6d6; }

/*# sourceMappingURL=uk-chips-input.css.map */
