@import "../../../../css/extensions/flexbox.scss";
uk-select-input {
    &[disabled] {
        div.uk-form-select {
            cursor: no-drop;
            border-color: #efefef !important;
            background: #f7f7f7;
            select-item-text-value,
            small,
            i.uk-icon-arrow_down {
                opacity: 0.4
            }
        }
    }
    div.uk-form-select {
        select-item-text-value {
            display: inline;
        }
        select-container {
            display: inline;
        }
        div.spinner {
            margin-top: -12px;
        }
        i.uk-icon-arrow_down {
            margin-top: -6px;
        }
        select-item-text-value {
            span {
                line-height: 20px !important;
                &.display-value-item {}
                &.empty-value-item {}
                &.loading-text-item {
                    opacity: 0.3;
                }
            }
        }
    }
}
