<div class="material-input input" ng-class="{'uk-input-error': !vm.isValid()}">
  
    <input type="text" id="{{vm.identifier}}" ng-model="vm.viewValue"   maxlength={{maxLength}} ng-change="vm.onChange(vm.viewValue)" ng-focus="vm.onFocus()" ng-blur="vm.onBlur()"   ng-class="{'filled': vm.isFilled()}" ng-model-options="{ allowInvalid: true}" ng-disabled="ngDisabled">

    <span class="material-bar"></span>

    <label for="{{vm.identifier}}">{{placeholder}}</label>
</div>
 <div  class="uk-align-right uk-icon-medium uk-icon spinner mini"  ng-if="isLoading" style="margin: -45px 10px 0 0;"></div>
<small class="error filled uk-align-left" ng-if="!vm.isValid() && vm.errorLabel">
	{{vm.errorLabel}}
</small>